body{
  font-family: 'Montserrat', sans-serif;
}
footer{
  font-weight: 300;
  text-align: center;
  color: white;
  background-color: black;
  padding: 5px;
}

.main-2{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-logo{
  padding: 20px;
}
.main-logo h1{
  margin: 0;
  font-size: 100px;
}

.main-group{
  display: grid;
  grid-template-columns:  auto auto auto auto auto auto auto auto auto auto auto ;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  justify-content: center;
  text-align: center;
}

.main-group div{
  position: relative;
  padding: 5px;
}

.main-group a{
  text-decoration: none;
  color: white;
}
.main-group h2,h3,h4, .instagram-ikon{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.main-group h2{
  font-size: 30px;
  top:55px;
}
.main-group h3{
  top:40px;
}
.main-group h4{
  top:30px;
}

.main-group__prihlasit{
  grid-row: 1/5;
  grid-column: 1/5;
}

.main-group__kontakt{
  grid-row: 1/4;
  grid-column: 5/8;
}
.main-group__obeescale{
  grid-row: 1/4;
  grid-column: 8/11;
}
.main-group__eshop{
  grid-row: 4/9;
  grid-column: 5/9;
}
.main-group__registrace{
  grid-row: 5/8;
  grid-column: 2/5;
}
.main-group__instagram{
  grid-row: 4/6;
  grid-column: 9/11;
}
.instagram-ikon{
  top:27px
}

.main-group__prihlasit a, 
.main-group__eshop a{
  padding: 20px;
}
.main-group__kontakt a,
.main-group__obeescale a{
  padding: 15px;
}
.main-group__registrace a{
  padding: 10px;
}